.Movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 32px 16px;
    box-sizing: border-box;
    justify-content: space-around;
}

.Movie{
    background-color:white;
    width:40%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    margin-bottom:50px;
    text-overflow: ellipsis;
    padding:0 20px;
    box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133,0.22);
}

.Movie-title {
    font-size: 32px;
    box-sizing: border-box;
    padding: 32px 0;
    text-align: center;
    font-weight: bold;
}

.Movie__Column{
    width:30%;
    box-sizing:border-box;
    text-overflow: ellipsis;
}

.Movie__Column:last-child{
    padding:32px 0;
    box-sizing: border-box;
    width:60%;
    height: 100%;
}

.Movie h1{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 1.3;
}

.Movie .Movie__Genres{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 12px;
}

.Movie__Genres .Movie__Genre{
    margin-right:10px;
    margin-bottom: 8px;
    color:#B4B5BD;
}

.Movie .Movie__Synopsis {
    text-overflow: ellipsis;
    color:#B4B5BD;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.4;
}

.Movie .Movie__Poster{
    max-width: 100%;
    width: 100%;
    position: relative;
    transform: translateY(-20px);
    box-shadow: -10px 19px 38px rgba(83, 83, 83, 0.3), 10px 15px 12px rgba(80,80,80,0.22);
}

@media screen and (min-width:320px) and (max-width:667px){
    .nav { display: none; }
    .Movie{ width:100%; }
}

@media screen and (min-width:320px) and (max-width:667px) and (orientation: portrait){
    .Movie{
        width:100%;
    }
    .Movie__Poster{
        top:0;
        left:0;
        width:100%;
    }
    .Movie__Column{
        width:100%!important;
    }
}
